
/*=====================*/
/*      Général        */
/*=====================*/
h1{
    color: #0290bd;
}

/*=====================*/
/*      Bannière       */
/*=====================*/

#banniere{
    display: flex;
    flex-direction: column;
    background-color: aqua;/* au cas ou la photo n'est pas disponible*/
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(../img/cover.png);
    background-image: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

#banniere img{
    width: 100%;
    height: 100%;
    position: relative;
}

#haut{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#droite{
    display: flex;
    justify-content: flex-end;
    text-align: right; 
    margin: 20px 0;
}

#slogan p{
    margin-left: 40%;
}

#medias img{
    width: 5%;
 }

#medias{
   flex-direction: row;
}

#logo img{
    width: 70%;
    margin-top: 10%;
    margin-left: 10%;
}

#haut, #droite{
    margin-right: 5%;
}

#marque{
    display: flex;
    flex-direction: column;
    justify-content: right;
}

#marque>p{
    background-color:#9CF447; 
    padding: 1%;
    margin-top: unset; 
    text-align: center;
    border-radius: 15px;
    color: white;
}

#marque>h1{
    margin-bottom: unset;
}

/*=====================*/
/*   Section produit   */
/*=====================*/
.commande p{
    text-align: right;
}

#base, #grosLuxe{
    background-color: #9fe8ff;
}

#pasbase, #blog{
    background-color: #ddf7ff;
}

#base h2, #pasbase h2, #grosLuxe h2{
    text-align: center;
    padding: 5% 0;
    margin: 0;
    color: #0290BD;
}

#blog h2{
    text-align: center;
    padding: 5% 0;
    margin: 0;
    color: #fff;
}

label{
    color: #0290BD;
}

.basebtn{
    padding-bottom: 10%;
    margin-top: 5%;
    width: 35%;
}

.produits .version p{
    width: 45%;
}

#pasbase .special p,  #pasdeBase{
    margin-left: 40%;
}

.commande p{
    text-align: left;
    color: #0290BD;
}

.details{
    padding: 0 0 10% 0;
}
.details img{
    margin: 5% 20%;
    width: 50%;
}

.details p{
    width: 30%;
    margin: 0 auto;
}

.details ul li{
    width: 60%;
    margin: 0 auto;
}

.baseImg{
    width: 60%;
    padding-bottom: 5%;
    text-align: center;
}
.baseImg img{
    width: 60%;
    text-align: center;
    margin-top: 5%;
}

.produits{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#base p, #pasbase p, #grosLuxe p{
    background-color:#0290BD; 
    color: white;
    padding: 2%;
    margin-top: unset; 
    text-align: center;
    border-radius: 15px;
}

#base a, #pasbase a, #grosLuxe a{
    color: white;
    text-decoration: none;

}

.retour{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.retourdeux{
 margin: 10px 40%;  
}

.retourdeux li a{
    text-decoration: none;
}

/*=====================*/
/*   Suivi commande    */
/*=====================*/
#commande .commande{
    width: 60%;
    margin: 0 auto;
}

/*=====================*/
/*        footer       */
/*=====================*/

footer{
    background-color: #10C6FF; 
    position: fixed;
    bottom: 0px; 
    width: 100%;
}

footer p{
    color: #fff;
    text-align: center;
    padding-top: 30px;
    height: 50px;
    margin: unset;
}

#grosLuxe{
    padding-bottom: 70px;
}

/*=====================*/
/*        formulaire   */
/*=====================*/
#form-inscription{
    width: 40%;
    margin: 0 auto;
}

#formulaire{
    margin: 0 auto;
}

fieldset{
    background-color: #10c6ff;
    border-style: hidden;
    margin: 5%;
}

body{
    background-color: #9fe8ff;
}

#formulaire .form, h1{
    text-align: center;
    padding-top: 5%;
}

#formulaire h1{
    margin-top: unset;
}

.btn{
    background-color: #10c6ff;
    border-style: unset;
    padding: 2%;
    border-radius: 25px;
    color: white;
}

#bouton .btn{
    margin-bottom: 30px;
}
#bouton {
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
}

#field p{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    margin: 15px 20px;
}


/*=====================*/
/*       Responsive    */
/*=====================*/

@media screen and (max-width: 1024px){
    .produits .version p {
        width: 50%;
    }

    #pasbase .special p, #pasdeBase {
        margin-left: 27%;
    }
}


@media screen and (max-width: 768px){
    .produits .version p {
        width: 80%;
    }

    #pasbase .special p, #pasdeBase {
        margin-left: 27%;
    }
}

@media screen and (max-width: 520px){
    #haut {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        margin: 0 auto;
    }

    #marque > h1 {
        font-size: 1.5em;
        color: black;
    }

    #droite {
        text-align: center;
    }

    #slogan p {
        margin: 5% 10%;
    }

    .produits .version p {
        width: 40%;
    }

    .baseImg {
        width: 100%;
        padding-bottom: 5%;
        text-align: center;
    }

    .basebtn {
        padding-bottom: 10%;
        width: 100%;
    }

    #pasbase .special p {
        margin-left: 25%;
    }

    #base p, #pasdeBase, #deBase, #grosLuxe p, #grosdeLuxe {
        margin-left: 25%;
    }


    
}